<app-navigation-bar></app-navigation-bar>
<form (submit)="createPost()">
    <div class="row rounded text-light bg-dark p-3 mb-3 mx-1">
            <h5>Post</h5>
        <div class="row mb-3">
            <input 
                type="text" 
                name="header" 
                id="header" 
                class="form-control"
                placeholder="Título"
                #header="ngModel"
                [(ngModel)]="post.header"
            />
        </div>
        <div class="row">
            <textarea 
                type="text" 
                name="body" 
                id="body" 
                class="form-control" 
                [(ngModel)]="post.body"
                #body="ngModel"
            >
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success rounded-pill text-light py-1 text-center custom-fill" type="submit" >
                GUARDAR
            </button>
        </div>
        <div class="col">
            <button class="btn btn-dark rounded-pill text-light py-1 text-center custom-fill" (click)="cancel()" >
                CANCELAR
            </button>
        </div>
    </div>
</form>